{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "importOrder": [
        "^~/assets(.*)$",
        "^~/common(.*)$",
        "^~/routes(/.*)?$",
        "^~/screens/(.*)$",
        "^~/components/(.*)$",
        "^~/actions/(.*)$",
        "^~/reducers(/.*)?$",
        "^~/scripts/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
